<%= form_with(model: fighter, class: "contents") do |form| %>
  <% if fighter.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
        <% fighter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="fighters-form">
    <div
      data-fighters-form-target="errorMessage"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"
    >
      Required fields missing.
    </div>

    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name,
        class: "form-item",
        'data-fighters-form-target': 'name',
        'data-action': 'input->fighters-form#validatesRequiredFields' # <- declaração da ação de callback.
      %>
    </div>

    <div class="my-5">
      <%= form.label :weight_class %>
      <%= form.select :weight_class,
        options_for_select(
          Fighter.weight_classes.keys.map { |weight_class| [weight_class.humanize, weight_class] }
        ),
        { include_blank: true },
        {
          class: "form-item",
          'data-fighters-form-target': 'weightClass', # <- declaração do target.
          'data-action': 'change->fighters-form#validatesRequiredFields' # <- declaração da ação de callback.
        }
      %>
    </div>

    <div class="my-5">
      <%= form.label :fight_record %>
      <%= form.text_field :fight_record,
        class: "form-item",
        'data-fighters-form-target': 'fightRecord',
        'data-action': 'input->fighters-form#validatesRequiredFields' # <- declaração da ação de callback.
      %>
    </div>

    <div class="inline">
      <%= form.submit class: "form-button",
        'data-fighters-form-target': 'formButton'
      %>
    </div>
  </div>
<% end %>
